@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

body {
    margin: 0;
  }
  .nav-bar {
    height: 70px;
    width: 100%;
    background-color: rgba(14, 200, 100, 0.7);
    position: fixed;
    top: 0; 
    z-index: 1;
  }
  .logo {
    height: 70px;
  }
  .nav-list {
    float: right;
    margin: 25px 30px;
  }
  .list-item {
    height: 23px;
    width: 60px;
    background-color: #c47b11;
    display: inline-block;
    padding-right: 15px;
    color: white;
    border: 1px solid #c47b11;
    border-radius: 50px;
    padding: 2px 0px 0px 2px;
    text-align: center;
  }
  .list-item:hover {
      background-color: yellow;
  }
  a {
      text-decoration: none;
  }
  a:hover {
      color: black;
  }

/**************End of Nav ******************/

  .main {
    height: 600px;
    width: 100%;
    margin-top: 70px;
    background-image: url('../img/stretch-cat.jpg');
    background-attachment: fixed;
    background-position: 50% 30%;
    background-repeat: no-repeat;
  }

  .main-text {
    height: 40px;
    width: 120px;
    border: 2px solid #c47b11;
    border-radius: 25px;
    background-color: #c47b11;
    position: absolute;
    text-align: center;
    top: 200px;
    left: 46%;
  }
  .main-text h1 {
    display: inline;
    text-shadow: rgba(14, 200, 100, 0.7) 3px 3px;
  }

  .main-text:hover {
      background-color: #c47b11;
  }
  .main-img {
    display: block;
    margin: auto;
  }

.home-section {
  height: 500px;
  width: 100%;
}

.col {
  height: 450px;
  width: 46%;
  border: 1px solid #c47b11;
  float: left;
  margin-left: 40px;
  margin-top: 25px;
}

.kittens {
  width: 100%;
  height: 450px;
}

.sec-text p {
  text-align: center;
  margin: 50px 20px 0px 20px;
  font-family: 'Lato', sans-serif;
}

/**************End of Main ******************/

footer {
    background-color:  rgba(14, 200, 100, 0.7);
    height: 70px;
    width: 100%;
    display: inline-block;
    float: left;
    margin: auto;
}

.foot-col {
    height: 60px;
    width: 30%;
    float: left;
    border: 1px solid #c47b11;
    margin-left: 35px;
    margin-top: 5px;
    text-align: center;
    color: #ffffff;
}

button, input, .fab, .footer-text {
  margin-top: 17px;
}

.fab {
  font-size: 2em;
  color: #ffffff;
  margin-left: 5px;
}

button {
  border-radius: 25px;
}

input {
  height: 25px;
  width: 200px;
  border-radius: 25px;
}

.footer-text {
  display: inline-block;
}

footer:hover {
      background-color: #C47B11;
}
